http {
	server_timeout_time       10000
	server {
		index                   index.html
		server_name             localhost
		listen                  8080
		root                    www
		keepalive_timeout		31
		send_timeout			11
		max_body_size           100000000
		directory_listing       true
		location / {
			request_types       GET POST
		}
		location /google {
			request_types       GET
			redirection			www.google.com
		}
		location /uploads {
			request_types       GET POST DELETE
		}
	}
	server {
		index                   index.html
		server_name             localhost
		listen                  8081
		root                    www
		keepalive_timeout		91
		send_timeout			91
		max_body_size           100000
		directory_listing       true
		location / {
			request_types       GET
		}
		location /google {
			request_types       GET
			redirection			www.google.com
		}
	}
}