http {
	server_timeout_time       10000
	server {
		index                   index.html
		server_name             localhost
		listen                  8080
		root                    www
		keepalive_timeout		40
		send_timeout			15
		max_body_size           10000000
		directory_listing       true
		location / {
			request_types       GET POST
		}
		location /codam {
			request_types       GET
			redirection			https://www.codam.nl/
		}
		location /uploads {
			request_types       GET POST DELETE
		}
	}
	server {
		index                   index.html
		server_name             site2.local
		listen                  8081
		root                    www
		keepalive_timeout		75
		send_timeout			75
		max_body_size           10000000
		directory_listing       false
		location / {
			request_types       GET
		}
		location /codam {
			request_types       GET
			redirection			https://www.codam.nl/
		}
	}
}