http {
    server {
        index                   index.html
        server_name             www.invalid.com
        listen                  8081
        root                    ./invalid-path
        keepalive_timeout		40
		send_timeout			15
        max_body_size           500
        directory_listing       false
        location / {
            request_types       GET POST
        }
        location /some-path {
            request_types       DELETE
        }
    }
}